/* nav pills */
/* .nav-pills .nav-link {
    color: #000;
    border-radius: 0;
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: #000;
    border-bottom: 2px solid #3f6ad8;
    font-weight: 600;
} */

/* table */
.table>:not(caption)>*>*{
    padding: 1.15rem 1rem;
}

/* toggle switch */
.switch label{
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
}

.switch label input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-col-blue{
    background-color: rgba(11, 32, 49, 0.5);
}

.switch label input[type=checkbox]:checked + .lever.switch-col-blue{
    background-color: rgba(33, 150, 243, 0.5);
}

.switch label .lever{
    margin: 0 14px;
    content: '';
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    border-radius: 15px;
    transition: ease;
    vertical-align: middle;
}

.switch label input[type=checkbox]:checked + .lever.switch-col-blue:after {
    background-color: #2196F3;
    left: 24px;
}

.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgb(0 0 0 / 40%);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, box-shadow 0.1s ease;
}